{% extends 'layout.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Add Company Detials</h1>
    <br/>
    
    <form method="POST" action="{% url 'add_detail' %}">
        {% csrf_token %}
    
        <!--{{ form.as_p }}-->
        {{ wizard.management_form }}
        {{ wizard.form.as_p }}
    
    <br/>
      <button type="submit" value="Next" class="btn btn-secondary">Next</button>
       <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    
    </form>
    
</div>

{% endblock %}